<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Overwatch_Hero_2._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Overwatch_Hero_2._0.My.MySettings>
            <setting name="OBSHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="OBSPort" serializeAs="String">
                <value>4444</value>
            </setting>
            <setting name="OBSPass" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="TwitchUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchOAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSSceneVote1" serializeAs="String">
                <value>[OW] Vote1</value>
            </setting>
            <setting name="OBSSceneVote2" serializeAs="String">
                <value>[OW] Vote2</value>
            </setting>
            <setting name="OBSSceneVote3" serializeAs="String">
                <value>[OW] Vote3</value>
            </setting>
            <setting name="OBSSourceBar1" serializeAs="String">
                <value>Vote Bar1</value>
            </setting>
            <setting name="OBSSourceBar2" serializeAs="String">
                <value>Vote Bar2</value>
            </setting>
            <setting name="OBSSourceBar3" serializeAs="String">
                <value>Vote Bar3</value>
            </setting>
            <setting name="OBSSceneOverwatch" serializeAs="String">
                <value>[Nest] Overwatch Vote</value>
            </setting>
            <setting name="LookFor" serializeAs="String">
                <value />
            </setting>
            <setting name="chkHero01" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero02" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero03" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero04" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero05" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero06" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero07" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero08" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero09" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkHero10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero17" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero18" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero19" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero20" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero22" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero23" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero24" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero25" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero26" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkHero27" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bar1Y" serializeAs="String">
                <value>251</value>
            </setting>
            <setting name="Bar2Y" serializeAs="String">
                <value>385</value>
            </setting>
            <setting name="Bar3Y" serializeAs="String">
                <value>518</value>
            </setting>
            <setting name="ReticleX" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="ReticleY" serializeAs="String">
                <value>540</value>
            </setting>
        </Overwatch_Hero_2._0.My.MySettings>
    </userSettings>
</configuration>